@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Montserrat:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
    
}

body {
    font-family: Montserrat, sans-serif;

    
}
header {
    background-color: rgba(84, 224, 84, .5);
}

/*nav links*/
#menu {
    font-size: 120%;
    text-align: center;
    line-height: 65px;
     }

#menu li {
    float: none;
    text-decoration: none;
    display: inline;
    padding: 20px 60px 20px 60px;
    }

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: gray 2px solid;
}

.active {
    border-bottom: gray 2px solid;
}

/*hero image section*/
#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height:600px;
    width: 100%;
    float: right;
    background: url("../images/hero-image3.jpg") no-repeat center center;
    }

    #hero-text  {
    font-size: 180%;
    font-family: jura;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 20px;
    width: 800px;
    height: 150px;
    background-color: rgba(84, 224, 84, .5);
    border-radius: 20px;
    left: 380px;
    top: 200px;
    position: absolute;
    }

    #hero-text > h3 {
    font-size: 100%;
    }

    /*about section*/

    #about {
        background-color: rgba(28, 187, 28, 0.5);
        overflow: hidden;
         }

    #about-heading {
        text-align: center;
        padding: 20px 80px 60px 80px;
    }

    .about-box-heading {
        padding-bottom: 20px;
        text-decoration: underline gray;
    }

    .about-box {
        width: 33%;
        display: inline-block;
        text-align: center;
        }

    .float-left {
        float: left;
    }

    .float-right {
    float: right;
    }

 p {
    font-size: 20px;
    /* font-weight: 400; */
    line-height: 30px;
    padding: 10px 20px;
}

/*footer*/
    
footer{
    min-height: 150px;
    background-color: rgba(84, 224, 84, .5);
    
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 180%;
    padding: 5%;
    color: black;
}
/*resources page*/

/*"what you can do" section*/
#to-do {
    background-color: #ECDDD9;
    overflow: hidden;
    height: 400px;
     }

.to-do-box {
 width: 50%;
 display: inline-block;
}

.to-do-box > h2, h4 {
    text-align: center;
    padding: 20px 40px 0 40px;
}

#to-do-list {
    padding-left: 5%;
}
ul {
    list-style-type:disc;
  }

  /*"What you can use" section*/

  #use {
    background-color: #ECDDD9;
    overflow: hidden;
    height: 420px;
     }

  .use-box {
    width: 50%;
    display: inline-block;
    line-height: 20px;
   }
   
   .use-box > h2, h4 {
       text-align: center;
       padding: 20px 40px 0 40px;
   }
   
   #use-list {
       padding-left: 5%;
   }

   /*"recommended" section*/

   .recommend {
    background-color: rgba(28, 187, 28, 0.5);
    height: 550px;
    overflow: hidden;
   }

   #rec-heading {
       text-align: center;
       padding: 20px;
   }

   .rec-box {
       width: 40%;
       display: inline-block;
       padding: 30px 0px 20px 20px;
       }

       /*signup page*/

    #form-section {
          background-color: #ECDDD9;
          padding: 30px;
      }

      form {
        width: 750px;
        padding: 25px;
        border-radius: 12px;        
        background-color: rgba(84, 224, 84, .5);
        margin: 25px auto;
        }

       

    .block-label {
        display: block;
    }
    
    .radio {
        display: inline-block;
    }

    form > h1 {
        text-align: center;
        padding-bottom: 30px;
    }

    legend  {
        text-transform: uppercase;
        font-size: large;
        font-weight: 600;
        text-align: center;
        padding: 40px 0 20px 0;
    }

    input[type=text],
input[type=email] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    border: 1px solid #ECDDD9;
}

select {
    height: 32px;
}

input[type=submit] {
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    }

    input[type=reset] {
        margin-top: 5px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid #ECDDD9;
        border-radius: 10px;
        }

        /* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #hero-text {
        left: 180px;
     }

    #about{
        width: 100%;
        height: 750px;  
        margin: 0 auto;
    }

    #born-image {
        height: 420px;
    }

    #tips {
        width: 100%;
    }
}
     

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
/*index page*/
   #menu li {
    padding: 20px 60px 20px 60px;
   }

   #hero-text {
    left: 130px;
    width: 66%;
    }

    #about {
        height: 1000px;
    }

    .about-box {
        width: 100%;
    }
    

/*resources*/
    .to-do-box {
        width: 100%;
        display: block;
    }

   .to-do-box li {
        padding: 10px 5px 10px 2px;
        }

    #to-do-list br {
        display: none;
    }

    #to-do {
        height: 690px;
        display: flex;
        flex-direction: column-reverse;
        }

    #born-image {
        height: 350px;
    }

    #use {
        height: 840px;
    }

    .use-box {
        width: 100%;
        display: block;
    }

     #use-list li {
         padding-bottom: 10px;
    }

    .recommend {
         height: 1000px;
    }

    .rec-box {
        width: 100%;
        display: block;
        }

        #book {
            padding-left: 350px;
        }
    
        #video {
            padding-left: 210px;
        }

        form {
            width: 600px;
        }

    }

    /* For medium screens sizes from 500px wide and down */
@media screen and (max-width: 500px) {

    #menu li{
    padding: 10px ;
    }

    #hero-text {
        width: 270px;
        height: 250px;
        left: 70px;
        top: 150px;
}

    #about {
        height: 1900px;
}

    #to-do {
        height: fit-content;
    }

    #use {
        height: fit-content;
    }

    .recommend {
        height: 1050px;
    }

    #book {
        padding-left: 130px;
    }

    #video {
        padding-left: 50px;
        width: 75%;
    }

    p {
        text-align: left;
        }

        form {
            width: 100%;
            padding: 10px;
            }

        .radio {
            display: block;
        }

        .block-label {
            display: inline-block;
        }

        
}
    


