@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Montserrat:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Montserrat, sans-serif;
    color: red
}

#menu {
    font-size: 120%;
    text-align: center;
    line-height: 65px;
    color: black;

    }

#menu li {
    float: none;
    text-decoration: none;
    display: inline;
    padding: 20px 60px 20px 60px;
    
}

#menu a {
    text-decoration: none;