@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Montserrat:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Montserrat, sans-serif;
}

header {
   /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);*/
    background-image: linear-gradient(to bottom right, rgb(107, 243, 103), rgb(81, 236, 9));
}
/*nav links*/
#menu {
    font-size: 120%;
    text-align: center;
    line-height: 65px;
     }

#menu li {
    float: none;
    text-decoration: none;
    display: inline;
    padding: 20px 60px 20px 60px;
    }

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: gray 2px solid;
}

.active {
    border-bottom: gray 2px solid;
}

/*hero image section*/
#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("../images/hero-image3.jpg") no-repeat center center;
    }

    #hero-image > h2 {
        color: #fff;
        font-family: jura, sans-serif;
        font-size: 80px;
        text-align: center;
        border: 1px solid #fff;
        padding-top: 120px;
    }
    